body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e1e1;
}

.home-link {
    cursor: pointer;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.menu-search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

    .menu-search input[type="search"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #e1e1e1;
        border-radius: 25px;
        width: 60%;
        max-width: 500px;
    }

/* Menu items styling with dropdown effect */
.menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    transform: translateY(-20px); /* Initially hide above */
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e1e1;
}

    .menu.active {
        transform: translateY(0); /* Slide down to position */
        opacity: 1;
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 30px;
    }

        .menu ul li {
            display: inline-block;
        }

            .menu ul li a {
                text-decoration: none;
                color: #333;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                transition: color 0.3s;
            }

                .menu ul li a:hover {
                    color: #B12704;
                }
